.container {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 2rem;
}

.heading {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
  width: 100%;
}

.bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.img {
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
