.container {
  position: relative;
  z-index: 1;
}

.btn {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 50px;
  user-select: none;
  transition: all 0.3s ease-in;
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  line-height: 100%;
  font-family: var(--sharpGroteskSemiBold);
}

.green {
  color: var(--green);
}

.primary {
  color: var(--tan);
  background-color: var(--orange);
}

.primaryii {
  color: var(--green);
  background-color: var(--tan);
}

.primaryiii {
  color: var(--white);
  background-color: var(--green);
}

.secondary {
  background-color: var(--black);
  color: var(--gray);
  padding: 3px 25px;
  padding-top: 5px;
}

.tertiary {
  background-color: var(--green);
  color: var(--gray);
  padding: 3px 20px;
  padding-top: 5px;
  border: 1px solid var(--black);
  font-size: 1.4rem;
}

.icon {
  position: relative;
  top: 1px;
  margin-left: 1rem;
  color: var(--black);
  transition: all 0.3s ease-in;
  transform: rotate(45deg);
}

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

.white {
  color: #ffffff;
}
