.top {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  margin-top: 2;
  margin-top: 2rem;
}

.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.heading3 {
  display: none;
}

.leftBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.leftCTA {
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  background: rgb(6, 238, 199);
  background: -moz-linear-gradient(
    66deg,
    rgba(6, 238, 199, 1) 0%,
    rgba(7, 25, 82, 1) 70%
  );
  background: -webkit-linear-gradient(
    66deg,
    rgba(6, 238, 199, 1) 0%,
    rgba(7, 25, 82, 1) 70%
  );
  background: linear-gradient(
    66deg,
    rgba(6, 238, 199, 1) 0%,
    rgba(7, 25, 82, 1) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06eec7",endColorstr="#071952",GradientType=1);
  padding: 10rem;
}

.ctaHeading {
  color: var(--gray);
  letter-spacing: normal;
  width: 70%;
  text-align: right;
  margin-left: auto;
}

@media screen and (max-width: 968px) {
  .top,
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading2 {
    display: none;
  }

  .heading3 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .leftBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftCTA {
    padding: 8rem;
  }
}
