.container {
  background-color: var(--green);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 10rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 15rem;
}

.heading,
.copy {
  text-align: center;
  color: var(--tan);
  margin-bottom: 2rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
