.article {
  margin-bottom: 5rem;
}

.top {
  margin-bottom: 3rem;
}

.heading {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
}

.left {
  border-radius: 5px;
  height: 100%;
  display: flex;
  padding: 3rem;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: var(--green);
  border: 1px solid var(--black);
}

.heading2 {
  color: var(--tan);
  text-align: left;
  text-transform: uppercase;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading,
  .heading2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .left {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .right {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .right {
    grid-template-columns: repeat(1, 1fr);
  }
}
