.container {
  position: relative;
  font-size: 0;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 75vh;
  border: 1px solid var(--blackiv);
}

.video {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 3rem;
}

.left,
.right {
  width: 100%;
  flex: 1;
}

.heading {
  color: var(--tan);
}

.copy {
  margin-top: 3rem;
  font-size: 1.8rem;
  width: 70%;
  color: var(--tan);
  font-family: var(--ppMoriSemiBold);
}

.searchContainer {
  width: 70%;
  margin-top: 3rem;
}

.socialsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 3rem;
}

.iconContainer {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--tan);
  border-radius: 50%;
}

.icon {
  color: var(--tan);
}

@media screen and (max-width: 1068px) {
  .content {
    flex-direction: column;
    padding: 4rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .searchContainer,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 3rem;
  }
}
