.container {
  background-color: var(--green);
  border-radius: 30px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 5rem;
}

.top {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sectionIntroContainer {
  width: fit-content;
  margin-bottom: 2rem;
}

.heading {
  color: var(--white);
  line-height: 100%;
}

.copy {
  font-weight: 700;
  color: var(--white);
  opacity: 0.8;
  width: 80%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.qaContainer,
.active {
  padding: 3rem;
  padding-right: 4rem;
  border-radius: 15px;
  border: 1px solid var(--gray);
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
}

.active {
  background-color: var(--yellow);
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: grid;
  grid-template-columns: 0.6fr 5fr;
  gap: 2rem;
}

.icon,
.iconFlip {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 60px;
  height: 60px;
  padding: 1rem;
  border-radius: 50%;
  color: var(--white);
  transform: rotate(45deg);
}

.iconFlip {
  transform: rotate(135deg);
  color: var(--green);
}

.question {
  color: var(--tan);
  letter-spacing: -0.09px;
}

.active .question {
  color: var(--green);
}

.answerbox {
  margin-top: 1rem;
}

.answer {
  hyphens: auto;
  opacity: 0.8;
}

.active .answer {
  color: var(--green);
}

.btnContainer {
  display: grid;
  width: fit-content;
  margin-left: auto;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3px;
    grid-gap: 0rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }

  .copy {
    width: 80%;
    text-align: center;
  }

  .imgContainer {
    height: 350px;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 7rem 0rem;
    gap: 0rem;
  }

  .bottom {
    gap: 2rem;
  }
}
