.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10rem;
  background-color: var(--green);
  border-radius: 30px;
  background-image: repeating-linear-gradient(
    45deg,
    #24645e 0,
    #24645e 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
  padding: 5rem;
}

.text {
  font-size: 5rem;
  width: 50%;
  font-weight: normal;
  color: var(--tan);
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.houseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.copy {
  width: 40%;
  color: var(--tan);
  font-weight: 600;
}

@media screen and (max-width: 1068px) {
  .text {
    width: 100%;
  }

  .copy {
    width: 60%;
  }
}

@media screen and (max-width: 968px) {
  .reveal {
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 3rem;
  }

  .bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 2rem;
  }

  .text {
    font-size: 4rem;
  }

  .copy {
    width: 100%;
  }
}
