.top {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}

.heading {
  border-bottom: thick double #06eec7;
  padding-bottom: 1rem;
  width: 100%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.box {
  background-color: var(--gray);
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  font-size: 2.1rem;
}

.arrow {
  margin-left: 0.5rem;
  position: relative;
  top: 3px;
}

.btnContainer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 11fr);
  width: fit-content;
  margin-left: auto;
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    width: 50%;
    margin-right: auto;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
