.container {
  margin-bottom: 5rem;
}

.top {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}

.heading {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
  width: 100%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.box {
  background-color: var(--lightGreen);
  border: 1px solid var(--borderii);
  border-radius: 15px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  transition: all 0.3s ease-in;
}

.box:hover {
  background-color: var(--green);
}

.box:hover,
.box:hover .title,
.box:hover .desc,
.box:hover .arrow {
  color: var(--tan);
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.desc {
  transition: all 0.3s ease-in;
}

.arrow {
  margin-left: 0.5rem;
  position: relative;
  top: 3px;
  transition: all 0.3s ease-in;
}

.btnContainer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 11fr);
  width: fit-content;
  margin-left: auto;
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    width: 50%;
    margin-right: auto;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    text-align: center;
  }

  .btnContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
