.content {
  padding: 10rem;
  padding-top: 20rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.heading {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.copy {
  text-align: center;
  margin-top: -1rem;
  width: 60%;
}

.right {
  padding: 2rem;
  border: 1px solid var(--green);
  border-radius: 15px;
  background-color: var(--lightGreen);
}

.rightTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.title {
  font-family: var(--tuskerGrotesk);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 1.5rem;
  padding-top: 1.3rem;
  background-color: var(--yellow);
  border-radius: 10px;
  width: 100%;
}

.price {
  font-size: 3rem;
  font-weight: 600;
  color: var(--green);
  font-family: var(--tuskerGrotesk);
}

.copyii {
  opacity: 0.8;
  font-size: 1.4rem;
}

.btnContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.listItem {
  border-bottom: 1px solid var(--green);
  padding-bottom: 1rem;
  width: 100%;
  opacity: 0.8;
  color: var(--green);
  text-align: center;
  font-size: 1.4rem;
}

.rightBottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
}

.rb1,
.rb2 {
  padding: 3rem;
  border-radius: 15px;
  border: 1px solid var(--black);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  background-color: var(--tan);
  background-image: repeating-linear-gradient(
    45deg,
    #f1f1f1 0,
    #f1f1f1 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--green);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .title,
  .copy,
  .copyii,
  .listItem {
    width: 100%;
    text-align: center;
  }

  .price {
    display: none;
  }

  .priceii {
    display: inline-block;
  }

  .rightBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 250px;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
