.heading {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
