.container {
  margin-bottom: 5rem;
}

.top {
  margin-bottom: 2rem;
}

.heading {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
}

.copy {
  font-size: 1.9rem;
  margin-top: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem;
  height: 100%;
  width: 100%;
}

.left,
.right {
  height: 100%;
}

.leftBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.right {
  height: 100%;
  display: grid;
}

.rightTop {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.rightBottom {
  border-radius: 5px;
  padding: 3rem;
  border: 1px solid var(--black);
  background-color: var(--green);
}

.heading2 {
  color: var(--tan);
  text-align: left;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .rightTop {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .left {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .rightTop {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    text-align: center;
  }
}
