.top {
  margin-bottom: 3rem;
}

.copy {
  font-size: 1.9rem;
  margin-top: 1rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 968px) {
  .left {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .left {
    grid-template-columns: repeat(1, 1fr);
  }
}
