.top {
  margin-bottom: 3rem;
}

.heading {
  border-bottom: thick double #06eec7;
  padding-bottom: 1rem;
}

.copy {
  font-size: 1.9rem;
  margin-top: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;
  height: 100%;
  width: 100%;
}

.left,
.right {
  height: 100%;
}

.leftBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.right {
  height: 100%;
  display: grid;
}

.rightTop {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.rightBottom {
  border-radius: 10px;
  padding: 3rem;
  background: rgb(6, 238, 199);
  background: -moz-linear-gradient(
    -45deg,
    rgba(6, 238, 199, 1) 0%,
    rgba(7, 25, 82, 1) 91%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(6, 238, 199, 1) 0%,
    rgba(7, 25, 82, 1) 91%
  );
  background: linear-gradient(
    -45deg,
    rgba(6, 238, 199, 1) 0%,
    rgba(7, 25, 82, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06eec7",endColorstr="#071952",GradientType=1);
}

.heading2 {
  color: var(--gray);
  text-align: left;
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .rightTop {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .left {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .rightTop {
    grid-template-columns: repeat(1, 1fr);
  }
}
