.imgContainer {
  position: relative;
  font-size: 0;
  border-radius: 5px;
  height: 350px;
}

.img {
  position: absolute;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid var(--border);
  font-size: 0;
}
