.container {
  margin-top: 5rem;
  padding: 3rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.top {
  padding-top: 5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  text-align: center;
  font-family: var(--tuskerGrotesk);
  font-size: 5rem;
  width: 50%;
}

.copy {
  width: 60%;
  text-align: center;
}

.bottom {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.card {
  display: flex;
  gap: 3rem;
  padding: 3rem;
  border: 1px solid var(--black);
  border-radius: 5px;
  background-color: var(--tan);
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--green);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.icon {
  transition: all 0.4s ease-in-out;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.desc {
  opacity: 0.8;
}

@media screen and (max-width: 1268px) {
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 1068px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .heading {
    width: 75%;
  }
}

@media screen and (max-width: 968px) {
  .container {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .heading {
    width: 100%;
  }

  .copy {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
  }
}
