.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5rem;
  margin-bottom: 8rem;
}

.tocContainer {
  margin-top: 3rem;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 70px);
  overflow: auto;
  border: 1px solid var(--black);
  background-color: var(--tan2);
  border-radius: 5px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.tocHeadingTitle {
  font-size: 2.1rem;
  border-bottom: thick double #bcbcbc;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.similarContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
}

.similar {
  color: var(--black);
  font-family: var(--ppMoriSemiBold);
  border: 1px solid var(--black);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  padding-top: 0.8rem;
  margin-bottom: 10rem;
  height: 100%;
  transition: all 0.2s ease-in;
}

.similar:hover {
  background-color: var(--green);
  color: var(--tan);
}

.heading {
  color: var(--black);
  font-family: var(--ppMoriSemiBold);
}

.mdxContent {
  margin-top: 2.3rem;
  margin-left: auto;
  margin-right: auto;
}

.right {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 70px);
  overflow: auto;
  margin-top: 3rem;
}

.previewContainer {
  margin-bottom: 1rem;
  border: 1px solid var(--grayii);
  border-radius: 5px;
}

.box {
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.headingTitle {
  opacity: 0.8;
  width: 100%;
  padding-bottom: 1rem;
}

.blogTitle {
  padding-top: 1rem;
  opacity: 0.8;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.blogDesc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 1.6rem;
  opacity: 0.6;
  margin-bottom: 2rem;
}

.link {
  opacity: 0.8;
  font-weight: 700;
}

.arrow {
  font-size: 2rem;
  margin-left: 1rem;
  opacity: 0.8;
}

.relatedArticlesHeading {
  border-bottom: thick double #bcbcbc;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100%;
  letter-spacing: 1px;
}

.relatedArticlesHeading::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  background-color: var(--red);
  bottom: 0;
  left: 0;
}

.relatedArticles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr 2fr;
  }

  .right {
    display: none;
  }

  .relatedArticles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .container {
    grid-template-columns: 1fr;
  }

  .tocContainer {
    position: relative;
    top: 0;
  }

  .mdxContent {
    max-width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .relatedArticles {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .blogTitle,
  .blogDesc {
    font-size: 113.7%;
  }
}

@media screen and (max-width: 568px) {
  .blogTitle,
  .blogDesc {
    font-size: 125%;
  }
}
