.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.modalContent {
  background-color: var(--white);
  padding: 4rem;
  border-radius: 20px;
  max-width: 700px;
  position: relative;
  transition: all 0.3s ease-in;
  position: relative;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 2rem;
  color: var(--green);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modalContent {
    width: 90vw;
  }
}
