:root {
  --orange: #fc6719;
  --orangeii: #fd9752;
  --green: #1c4f4a;
  --yellow: #ffb130;
  --white: #ffffff;
  --tan: #f5f3ee;
  --lightGreen: #dfe3de;
  --gray: #bcbcbc;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 120%;
  font-family: var(--hKGuiseSemiBold);
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--stratosSemibold);
  text-transform: uppercase;
  color: var(--green);
}

h1 {
  font-size: 8rem;
  letter-spacing: -0.04em;
  line-height: 90%;
}

h2 {
  font-size: 6rem;
  letter-spacing: -0.04em;
  line-height: 90%;
}

h3 {
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: -0.04em;
  line-height: 90%;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.8rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  font-weight: 400;
  hyphens: auto;
  font-size: 1.7rem;
  line-height: 140%;
  color: var(--green);
}

input:focus,
textarea:focus {
  outline: none;
}

.blog {
  font-size: 1.6rem;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--green);
  color: var(--tan);
}
::-moz-selection {
  background: var(--green);
  color: var(--tan);
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  /* p {
    font-size: 113.7%;
  } */
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  /* p,
  label {
    font-size: 110%;
  } */
}

/* Only use in production */
@media screen and (max-width: 480px) {
  h1,
  h2,
  h3 {
    letter-spacing: -1px;
  }
}
