.copyContainer {
  padding: 5rem;
  background-color: var(--gray);
  border-radius: 5px;
}

.copy {
  color: var(--text3);
}

.personBox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.personImage {
  border: 2px solid var(--cream);
  border-radius: 50%;
  padding: 0.3rem;
}

.reviewerTitleContainer {
  display: flex;
  flex-direction: column;
}

.reviewer {
  font-family: var(--inter);
  font-weight: 700;
}

.title {
  display: block;
  font-weight: 400;
  opacity: 0.7;
  font-family: var(--inter);
}
