.heading {
  color: var(--green);
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  padding: 5rem;
  padding-top: 0rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  border: 1px solid var(--gray);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-color: var(--yellow);
  background-image: repeating-linear-gradient(
    45deg,
    #efbd6d 0,
    #efbd6d 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
  padding: 1rem;
}

.imgContainer,
.imgContainerii {
  position: relative;
  width: 100%;
}
.imgContainer {
  height: 250px;
}

.img {
  object-fit: cover;
  border-radius: 13px;
  border: 1px solid #24645e;
}

.title {
  text-align: center;
  width: 100%;
  transition: all 0.2s ease-in;
  padding: 3rem;
  color: var(--green);
}

@media screen and (max-width: 1268px) {
  .bottom {
    padding: 0rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottomii {
    margin-top: 20rem;
    padding: 0rem 5rem;
  }
}

@media screen and (max-width: 968px) {
  .bottom,
  .detailsBox {
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .detailsBox {
    border: 1px solid var(--green);
    border-radius: 15px;
    padding: 3rem;
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .titleii {
    text-align: center;
  }

  .descii {
    width: 100%;
  }

  .bottomii {
    margin-top: 20rem;
    padding: 0rem;
  }
}
