.container {
  padding-top: 10rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.contentTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.left,
.right {
  flex: 1;
}

.heading {
  color: var(--black);
  width: 90%;
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
}
.headingii {
  border-bottom: thick double #bcbcbc;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.copy {
  width: 60%;
}

.contentBottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-bottom: 10rem;
}

.box {
  background-color: var(--green);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.icon {
  margin-bottom: 1rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.value {
  color: var(--white);
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
}

.description {
  color: var(--white);
  opacity: 0.8;
  text-align: center;
}

@media screen and (max-width: 1268px) {
  .heading,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .contentTop {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
    align-self: auto;
    position: static;
    top: 90px;
  }

  .heading {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heading,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .contentTop {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 100%;
  }

  .contentBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
