.span {
  background-color: var(--orange);
  color: var(--white);
  padding: 0.7rem 1.5rem;
  padding-top: 0.8rem;
  border-radius: 20px;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0.5px;
  border: 1px solid var(--green);
}
