.container {
  border: 1px solid var(--black);
  border-radius: 5px;
  background-color: var(--tan);
  /* background-image: repeating-linear-gradient(
    45deg,
    #edeaea 0,
    #edeaea 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px; */
}

.top,
.bottom {
  padding: 3rem;
  border-radius: 5px;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
}

.brandInfoMobile {
  display: none;
}

.logo {
  font-size: 5rem;
  font-family: var(--tuskerGrotesk);
  color: var(--black);
  letter-spacing: -3px;
}

.copy {
  font-size: 1.3rem;
  width: 60%;
  margin-top: 1rem;
  color: var(--black);
  font-family: var(--ppMoriSemiBold);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.socialContainer {
  background-color: var(--black);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  color: var(--gray);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--black);
}

.heading {
  color: var(--black);
  font-family: var(--ppMoriSemiBold);
  text-transform: uppercase;
  border-bottom: 1px solid var(--border);
  width: 90%;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.link {
  text-transform: uppercase;
  font-family: var(--ppMoriSemiBold);
  font-size: 1.2rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--black);
  font-size: 1.2rem;
  font-family: var(--ppMoriSemiBold);
}

.iconii {
  color: var(--black);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoii {
  color: var(--black);
  font-family: var(--ppMoriSemiBold);
}

.disclosures {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--black);
  font-size: 1.2rem;
}

.disc {
  font-family: var(--ppMoriSemiBold);
}

@media screen and (max-width: 968px) {
  .top {
    grid-template-columns: repeat(2, 1fr);
  }

  .brandInfo {
    display: none;
  }

  .brandInfoMobile {
    display: block;
    padding: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .logo,
  .copy {
    text-align: center;
  }

  .heading,
  .copy {
    width: 100%;
  }

  .socials {
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .top {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }
}
