.header {
  /* position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  z-index: 1000;
  /* padding: 1rem 3rem; */
  /* max-width: 1400px; */
}

.greenTop {
  width: 100%;
  height: 3px;
}


.icon {
  position: relative;
  top: 1px;
  color: red;
}

.navbar {
  width: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  border: 1px solid var(--tan);
  backdrop-filter: blur(90px);
}

.logo,
.navMenu {
  flex: 1;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  width: 100%;
  z-index: 998;
}

.navMenu.active ~ .logo {
  color: var(--white);
}

.navItem {
  font-size: 1.6rem;
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
  color: var(--white);
  font-weight: 600;
}

.navItem:hover {
  opacity: 0.7;
}

.hamburger {
  display: none;
  z-index: 1001;
  position: relative;
}

.whiteBar {
  display: block;
  width: 55px;
  height: 3px;
  margin: 5px auto;
  border-radius: 15px;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1068px) {
  .logo {
    font-size: 2.6rem;
  }

  .navbar {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 3rem;
    z-index: 1000;
  }

  .navMenu {
    position: fixed;
    right: 0%;
    top: -100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in;
    z-index: 998;
    background-color: var(--green);
    border: 1px solid var(--tan);
    padding: 3rem 1rem;
    transform-origin: top;
    z-index: 1001;
    border-radius: 25px;
    background-image: repeating-linear-gradient(
      45deg,
      #24645e 0,
      #24645e 1px,
      transparent 0,
      transparent 50%
    );
    background-size: 10px 10px;
  }

  .navItem {
    font-size: 4rem;
    color: var(--white);
    font-family: var(--tuskerGrotesk);
    text-transform: uppercase;
  }

  .navMenu.active {
    top: -15px;
    right: 0%;
    height: 70vh;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger.active .whiteBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--white);
  }

  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--white);
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar {
    align-items: center;
  }

  .logo {
    font-size: 1.8rem;
  }

  .greenTop {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .navMenu.active {
    top: -10px;

    height: 90vh;
    width: 100%;
  }
}
