.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
  padding: 1rem 3rem;
  max-width: 1400px;
}

.greenTop {
  width: 100%;
  height: 3px;
}

.logo {
  font-size: 2.5rem;
  color: var(--white);
  font-family: var(--tuskerGrotesk);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.icon {
  position: relative;
  top: 1px;
  color: red;
}

.navbar {
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green);
  padding: 2rem 4rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  border: 1px solid var(--tan);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo,
.navMenu {
  flex: 1;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  width: 100%;
  z-index: 998;
}

.navMenu.active ~ .logo {
  color: var(--white);
}

.navItem {
  font-size: 1.6rem;
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
  color: var(--white);
  font-weight: 600;
}

.navItem:hover {
  opacity: 0.7;
}

.hamburger {
  display: none;
  z-index: 1001;
  position: relative;
}

.whiteBar {
  display: block;
  width: 55px;
  height: 3px;
  margin: 5px auto;
  border-radius: 15px;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 968px) {
  .logo {
    font-size: 2.6rem;
  }

  .navbar {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 3rem;
    margin-top: 1rem;
    z-index: 1000;
  }

  .navMenu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in;
    z-index: 998; /* Ensure navMenu is behind navbar */
    background-color: var(--green);
    border: 1px solid var(--black);
    padding: 1rem;
    padding-left: 2rem;
    transform-origin: top;
  }

  .navItem {
    font-size: 6rem;
    color: var(--white);
    font-family: var(--tuskerGrotesk);
  }

  .navMenu.active {
    right: 0%;
    height: 100vh;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1001; /* Ensure hamburger is on top */
  }

  .hamburger.active .whiteBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--white);
  }

  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--white);
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding-right: 5px;
    padding-left: 5px;
  }

  .greenTop {
    margin-bottom: 1rem;
  }
}
